{% extends 'cust_dashboard.html' %}
{% load static %}
{% block dashboard %}
<div class="row">
    <div class="col-md-6 mx-auto bg-white p-3 my-2">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Current Password</label>
                <input type="text" placeholder="Current Password" id="cpd" name="cpwd" required class="form-control">
            </div>
            <div class="form-group">
                <label for="">New Password</label>
                <input type="password" name="npwd" placeholder="New Password" required class="form-control" id="manish"
                    onkeyup="newpas()">
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="password" name="match" placeholder="Confirm Password" required class="form-control"
                    id="rahul" onkeyup="newpas()">
            </div>
            <input type="submit" class="btn btn-success mt-2" value="Change Password" id="btn">
        </form>
        {% if status %}
        <div class="text-center">
            <small class="{{alert}}">{{status}}</small>
        </div>
        {% endif %}
    </div>
</div>
<script>

    function newpas() {
        let m1 = $("#manish").val()
        let m2 = $("#rahul").val()
        if (m1 == m2) {
            $("#manish").css({ "border": "1px solid green" })
            $("#rahul").css({ "border": "1px solid green" })
            $("#btn").removeAttr("disabled")

        }
        else{
            $("#manish").css({ "border": "1px solid red" })
            $("#rahul").css({ "border": "1px solid red" })
            $("#btn").attr("disabled","disabled")
        }
    }


</script>

{% endblock %}