{% extends 'cust_dashboard.html' %}
{% load static %}
{% block dashboard %}
<div class="row">
    <div class="col-md-6 my-2 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5>Are you sure want to delete</h5>
            </div>
            <div class="card-body">
                <img src="/media/{{obj.product_image}}" alt="" height="200px" width="100%">
                <p><strong>{{obj.product_name}}</strong></p>
                <a href="{% url 'delete_product' %}?pid={{obj.id}}&&action=confirm" class="btn btn-danger">confirm delete</a>
                <a href="{% url 'my_product' %}" class="btn btn-warning">cancel</a>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}")
    window.location="/my_product"
</script>
{% endif %}
{% endblock %}