{% extends 'base.html '%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<style>
    .m1 {
        font-family: "Sofia", sans-serif;
        font-size: 40px;
        text-shadow: 3px 3px 1px whitesmoke;
        color: black;
    }

    .m2 {
        font-family: "Sofia", sans-serif;
        font-size: 20px;
        text-shadow: 3px 3px 1px whitesmoke;
        color: black;
    }

    textarea {
        resize: none;
    }

    body {
        overflow: hidden;
    }
</style>
{% endblock %}

{% block myblock %}
<!-- Carousel Start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'Images/cone.jpg' %}" class="d-block w-100" alt="..." height="500px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="m1">First slide label</h5>
                            <p class="m1">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'Images/ctwo.jpg' %}" class="d-block w-100" alt="..." height="500px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="m1">Second slide label</h5>
                            <p class="m1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'Images/cthree.jpg' %}" class="d-block w-100" alt="..." height="500px">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="m1">Third slide label</h5>
                            <p class="m1">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Start Second Slide -->
<div class="container-fluid alert alert-secondary">
    <div class="row">
        <div class="col-md-1">
            <img src="{% static 'Images/1.png' %}" alt="" width="100px">
        </div>
        <div class="col-md-6" style="text-align: justify;">
            <h5>ZOMATO</h5>
            <p>Zomato is an Indian restaurant aggregator and food delivery start-up founded by Deepinder Goyal and
                Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants as well as
                food delivery options from partner restaurants in select cities.</p>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'Images/lm.svg' %}" alt="">
                    <small>Fresh Ingredient</small>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'Images/tray.svg' %}" alt="">
                    <small>Expert Cooker</small>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <img src="{% static 'Images/img1.png' %}" alt="">
        </div>
        <div class="col-md-2">
            <img src="{% static 'Images/img2.png' %}" alt="">
        </div>
        <div class="col-md-1 p-0">
            <img src="{% static 'Images/3.png' %}" alt="" width="100px">
        </div>
    </div>
</div>
<!-- Second Slide End -->

<!-- Start Third Slide -->

<!-- End Third Slide -->

<!-- Start Fourth Slide -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h5 class="m2 text-center">Our Customer Say</h5>
        </div>
    </div>
    <div class="row alert alert-danger">
        <div class="col-md-4 text-center">
            <p class="border rounded-pill p-5 border border-warning m-0">“Wow..What can I say for this restaurant. Awsum
                in ambience,a nice theme like a jungle .. Food ma mamia.</p>
            <img src="{% static 'Images/akshay.jpg'%}" alt="" class="w-25" style="border-radius: 50%;">
        </div>
        <div class="col-md-4 text-center">
            <p class="border rounded-pill p-5 border border-warning m-0">“Wow..What can I say for this restaurant. Awsum
                in ambience,a nice theme like a jungle .. Food ma mamia.</p>
            <img src="{% static 'Images/amitabh.jpg'%}" alt="" class="w-25" style="border-radius: 50%;">
        </div>
        <div class="col-md-4 text-center">
            <p class="border rounded-pill p-5 border border-warning m-0">“Wow..What can I say for this restaurant. Awsum
                in ambience,a nice theme like a jungle .. Food ma mamia.</p>
            <img src="{% static 'Images/shahrukh.jpg'%}" alt="" class="w-25" style="border-radius: 50%;">
        </div>

    </div>
</div>
<!-- End Fourth Slide -->

<!-- Start Fifth Slide -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h5 class="m2 text-center">Photo Gallery</h5>
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/g1.png'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/g2.png'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/g3.png'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/g4.png'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/g5.png'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/g6.webp'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/lunch3.jpg'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/lunch4.jpg'%}" alt="" width="100%" height="300px">
        </div>
        <div class="col-md-4 my-md-1">
            <img src="{% static 'Images/dinner2.jpg'%}" alt="" width="100%" height="300px">
        </div>
    </div>
</div>
<!-- End Fifth Slide -->

{% endblock %}

{% block myhome %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Button trigger modal -->
            <!-- <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</a> -->


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Signup Here...</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="back()"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name ..." name="fname"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name ..." name="lname"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small id="result"></small>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <input type="text" placeholder="Username ..." name="uname"
                                                class="form-control" required id="username" onkeyup="check()">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <input type="password" placeholder="Password ..." name="password"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                </div>


                                <small id="email_message"></small>
                                <div class="row">
                                    <div class="col-md-8 mb-2">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email ..." name="email"
                                                class="form-control" required id="email">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 mb-2">
                                        <button class="btn btn-success" type="button" id="verify">Verify Email</button>
                                    </div>
                                </div>
                                <div class="text-center" style="display: none;" id="spinner">
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                      </div>
                                </div>
                                <div style="display: none;" id="display">
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <input type="number" placeholder="Ente otp ..." required name="otp" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-2">
                                                <input type="tel" placeholder="Contact ..." name="contact" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="">Gender</label>
                                                <select name="gender" id="">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label for="">User Type</label>
                                                <select name="utype" id="">
                                                    <option value="customer">I am customer</option>
                                                    <option value="seller">I am seller</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="textarea" id="" cols="5" rows="3" class="form-control"
                                            placeholder="Address ..." required></textarea>
                                    </div>
                                    
                                        <input type="text" name="motp" id="match_otp" hidden>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            onclick="back()">Close</button>
                                        <input type="submit" class="btn btn-success" value="Signup" id="btn">
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false
    })
    myModal.show()

    function back() {
        window.location = "/"
    }
</script>

{% if message %}
<script>
    alert("{{message}}")
    window.location = "login"
</script>
{% endif %}

<script>
    function check() {
        var un = document.getElementById("username").value;
        $.ajax({
            url: "{% url 'check_username' %}",
            type: 'get',
            data: { usern: un },
            success: function (data) {
                if (data == "Exists") {
                    $("#result").html("This username already exists").addClass("text-danger")
                    $("#btn").attr("disabled", "disabled")
                }
                else {
                    $("#result").html("")
                    $("#btn").removeAttr("disabled")
                }
            }
        })
    }
</script>
<script>
    $("#verify").click(function(){
        $("#spinner").show()
        $("#verify").attr("disabled","disabled")
        let customer_email = $("#email").val()
        $.ajax({
            url:"{% url 'verify_email_otp' %}",
            type:'get',
            data:{email:customer_email},
            success:function(data){
                if(data.status == "sent"){
                    $("#spinner").hide()
                    $("#display").slideDown(1000)
                    $("#email_message").html("An otp sent to "+data.email).addClass("text-success")
                    $("#match_otp").val(data.rotp)

                }
                else if(data.status == "invalidEmail")
                {
                    
                    $("#spinner").hide()
                    $("#email_message").html("Please Enter Valid Email "+data.email).addClass("text-danger")
                    $("#verify").removeAttr("disabled")
                }

                
                else if(data.status == "error"){
                    $("#spinner").hide()
                    $("#email_message").html("Something went wrong !!!").addClass("text-danger")
                    $("#verify").removeAttr("disabled")

                }

            }

        })

    })
</script>
{% endblock %}