    <!-- Top Header Start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg-primary">
                <ul class="nav justify-content-center">
                    <li class="nav-item m-1">
                        <div class="form-group">
                            <input type="text" value="{{date}}" readonly class="form-control text-center w-100 h-25 bg-warning text-white">
                        </div>
                    </li>
                    <li class="nav-item m-1">
                        <div class="form-group">
                            <input type="text" value="{{time}}" readonly class="form-control text-center w-100 h-25 bg-warning text-white">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Top Header End -->